<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.27884095694-fa1sj7157egsof33hvpam4o2hffscufe</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>BentonSans Bold.otf</string>
		<string>BentonSans Regular Regular.otf</string>
		<string>Manrope-VariableFont_wght.ttf</string>
		<string>Rubik-VariableFont_wght.ttf</string>
		<string>OpenSans-VariableFont_wdth,wght.ttf</string>
		<string>Viga-Regular.tff</string>
		<string>Inter-VariableFont_slnt,wght.tff</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
    <key>GIDClientID</key>
    <string>27884095694-fa1sj7157egsof33hvpam4o2hffscufe.apps.googleusercontent.com</string>


</dict>
</plist>
